html, body, *{
    margin: 0;
    padding: 0;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

* html .clearfix {
    zoom: 1;
}

/* IE6 */
*:first-child + html .clearfix {
    zoom: 1;
}
@font-face {
    font-family: OpenSans;
    src: url(../font/open-sans.regular.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Belinda;
    src: url(../font/belinda.otf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Ubuntu;
    src: url(../font/Ubuntu-Bold.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: PTSansB;
    src: url(../font/PT_Sans-Web-Bold.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: PTSansR;
    src: url(../font/PT_Sans-Web-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}
.container {
    width: 590px;
    margin: 0 auto;
}
.section-one {
    background-image: url("../img/back_1.png");
    width: 100%;
    height: 660px;
    background-position: top center;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}
.logo{
    font-family: Belinda;
    font-size: 52px;
    text-align: center;
    color: #ffffff;
    margin: 0 auto;
    padding: 90px 0 0 0;
}
.menu{
    display: flex;
    justify-content: space-between;
    width: 325px;
    margin: 0 auto;
    margin-top: 45px;


}
.menu a {

    font-family: OpenSans;
    font-size: 13px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    opacity: 1;

}
.menu a:hover {
    opacity: 0.6;
}
.section-one .title{
    font-family: Ubuntu;
    font-size: 53px;
    text-align: center;
    color: #ffffff;
    margin: 80px 0 0 0;
}
.section-one .sub-title {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 45px;
    align-items: center;
}

.section-one .tagline{
    width: 23%;
    font-family: PTSansB;
    font-size: 15px;
    text-align: center;
    color: #ffffff;


}
.section-one .line{
    border-bottom: 2px solid #ffffff;
    width: 13.5%;
    opacity: 0.24;

}
.section-one .button{
    font-family: PTSans;
    font-size: 15px;
    text-align: center;
    color: #f5f5f5;
    background-color: #50c3af;
    border-radius: 25px;
    padding: 18px 45px;
    margin: 80px auto;
    display: block;
    width: 165px;
    text-decoration: none;
    opacity: 1;
}
.section-one .button:hover {
     opacity: 0.6;
 }
.section-two{
    background-color: #eaeaeb;
}
.section-two .container{
    display: flex;
    justify-content: space-between;
    background-color: #eaeaeb;
}
.section-two .column{
    text-align: center;
    width: 20%;
}
.section-two .col-title {
    font-size: 16px;
    color: #40474e;
    font-family: PTSansB;
    margin-top: 38px;
    border-bottom: 2px solid rgba(41,49,57,0.06);
    padding-bottom: 20px;

}

.section-two .col-tagline {
    font-size: 14px;
    color: #787b80;
    text-align: center;
    font-family: PTSansR;
    margin-top: 25px;
}
.section-two {
    padding: 100px 0;
}

.section-three{
    background-color: #f5f5f5;
    padding-top: 65px;
    padding-bottom: 77px;
}
.section-three .container {
    display: flex;
    justify-content: space-between;
}




.section-three .column img{
    width: 264px;
    height: 167px;

}

.section-three .column{
    width: 264px;

}

.section-three .col-title{

    font-family: PTSansB;
    font-size: 18px;
    color: #40474e;
    margin-top: 42px;
    text-transform: uppercase;

}
.section-three .hr{
    width: 290px;
    height: 2px;
    opacity: 0.06;
    background-color: #293139;
    margin-bottom: 31px;
    margin-top: 23px;

}

.section-three .col-tagline{
    font-family: PTSans;
    font-size: 14px;
    color: #787b80;

}
.section-three button{
    width: 98px;
    height: 35px;
    background-color: #50c3af;
    border-radius: 25px;
    border: none;
    outline: none;
    font-family: PTSans;
    font-size: 14px;
    color: #f5f5f5;
    margin-top: 34px;
}
.section-four{
    padding-top: 69px;
    padding-bottom: 64px;
}
.section-four .title{
    font-family: PTSans;
    font-size: 18px;
    color: #384048;
    padding-left: 38px;
    position: relative;


}
.section-four img{
    width: 25px;
    height: 25px;
    opacity: 0.6;
    position: absolute;
    left: 0;
    top: 0;

}

.section-four .sub-title{
    font-family: PTSansR;
    font-size: 14px;
    color: #787b80;
    margin-top: 51px;

}

.section-four button{
    width: 98px;
    height: 35px;
    background-color: #d2d5da;
    border-radius: 25px;
    border: none;
    outline: none;
    font-family: PTSansR;
    font-size: 14px;
    color: #f5f5f5;
    margin-top: 38px;
}


.section-five{
    padding-top: 58px;
    padding-bottom: 70px;
    background-color: #f5f5f5;
}

.section-five .container{
    display: flex;
    justify-content: space-between;
}

.section-five .column img{
    width: 181px;
    height: 138px;
}

.section-five .column{
    width: 181px;
}

.section-five .col-title{
    font-family: PTSansB;
    font-size: 16px;
    color: #40474e;
    margin-top: 41px;

}
.section-five .hr{
    width: 182px;
    height: 2px;
    opacity: 0.06;
    background-color: #293139;
    margin-bottom: 26px;
    margin-top: 18px;

}
.section-five .col-tagline{
    font-family: PTSansR;
    font-size: 14px;
    color: #787b80;
    margin-top: 26px;
    margin-bottom: 28px;
}

.section-five a{
    font-family: PTSansR;
    font-size: 14px;
    color: #50c3af;
    margin-top: 28px;
    text-decoration: none;
}

.section-six{
    padding-top: 66px;
    padding-bottom: 61px;
    background-color: #eaeaeb;

}

.section-six .container{
    display: flex;
    justify-content: space-between;
}

.section-six button{
    width: 98px;
    height: 35px;
    background-color: #50c3af;
    border-radius: 25px;
    border: none;
    outline: none;
    font-family: PTSansR;
    font-size: 14px;
    color: #f5f5f5;
    margin-top: 38px;
}

.section-six img {
    width: 25px;
    height: 25px;
    opacity: 0.6;
    position: relative;
    left: 0;
    top: 0;
}

.section-six .line{
    margin-left: 14px;
    font-family: PTSansB;
    font-size: 18px;
    color: #40474e;
    margin-bottom: 5px;

}

.section-six .hr{
    width: 251px;
    height: 2px;
    opacity: 0.06;
    background-color: #293139;
    margin-bottom: 28px;
    margin-top: 19px;

}

.section-six .col-tagline{
    font-family: PTSansR;
    font-size: 14px;
    color: #787b80;
}
.section-seven .container{
    display: flex;
    justify-content: space-between;
}
.section-seven{
    padding-top: 61px;
    padding-bottom: 62px;
    background-color: #f5f5f5;

}

.section-seven img{
    width: 264px;
    height: 208px;
}

.section-seven .title{
    font-family: PTSansB;
    font-size: 18px;
    color: #40474e;
    margin-left: 34px;
}

.section-seven .hr{
    width: 290px;
    height: 2px;
    opacity: 0.06;
    background-color: #293139;
    margin-top: 23px;
    margin-left: 34px;
    margin-bottom: 31px;

}

.section-seven .sub-title{
    font-family: PTSansR;
    font-size: 14px;
    color: #787b80;
    margin-left: 34px;
    margin-bottom: 29px;

}

.section-seven button{
    width: 98px;
    height: 35px;
    background-color: #d2d5da;
    border-radius: 25px;
    border: none;
    outline: none;
    font-family: PTSansR;
    font-size: 14px;
    color: #f5f5f5;
    margin-left: 34px;
}



















